GOOGLE_APPLICATION_CREDENTIALS=firebase-service-account.json
FIREBASE_DATABASE_URL=https://careergrid-41623-default-rtdb.europe-west1.firebasedatabase.app
GEMINI_API_KEY=AQ.Ab8RN6IBBqA5do-uTw-O__KfJRMe87DB-O4phVMRS185BmGo1g
GEMINI_MODEL=gemini-3.1-flash-lite