<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | CareerGrid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="auth-page">
        <div class="auth-card">
            <h1>Create Account</h1>
            <p>Sign up to explore careers through simulations.</p>

            <form action="{{ url_for('auth.register') }}" method="POST">
                <input
                    type="text"
                    name="full_name"
                    placeholder="Full name"
                    required
                >

                <input
                    type="email"
                    name="email"
                    placeholder="Email address"
                    required
                >

                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required
                >
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}

                <button type="submit">Sign Up</button>
            </form>

            <p class="auth-link">
                Already have an account?
                <a href="/login">Login</a>
            </p>
        </div>
    </div>

</body>
</html>